n8n/workflows/drive_watch.json
{
  "name": "Google Drive Watch and Auto-Reindex",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "drive-watch",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "drive-webhook-1",
      "name": "Google Drive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "file_check",
              "leftValue": "={{ $json.resourceState }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "file-change-check-1",
      "name": "Check File Change",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.resourceId }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "download-file-1",
      "name": "Download Updated File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:8001/ingest",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "driveFileId",
              "value": "={{ $json.resourceId }}"
            },
            {
              "name": "requestId",
              "value": "={{ 'auto_reindex_' + $now.toFormat('yyyyMMddHHmmss') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "auto-ingest-1",
      "name": "Auto Re-ingest File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "resource": "append",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "your_conversations_sheet_id",
          "mode": "list",
          "cachedResultName": "Conversations Log"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "User": "System",
            "Intent": "auto_reindex",
            "Input": "File updated in Drive: {{ $('Google Drive Webhook').item.json.resourceId }}",
            "Output": "{{ $json.chunks }} chunks re-indexed",
            "Confidence": "1.0",
            "Citations": "",
            "RequestId": "{{ $json.requestId }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "log-reindex-1",
      "name": "Log Auto Reindex",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "respond-drive-webhook-1",
      "name": "Respond to Drive Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Webhook": {
      "main": [
        [
          {
            "node": "Check File Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Change": {
      "main": [
        [
          {
            "node": "Download Updated File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Updated File": {
      "main": [
        [
          {
            "node": "Auto Re-ingest File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Re-ingest File": {
      "main": [
        [
          {
            "node": "Log Auto Reindex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Auto Reindex": {
      "main": [
        [
          {
            "node": "Respond to Drive Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "your_instance_id"
  },
  "id": "3",
  "tags": []
}