n8n/workflows/nightly_maintenance.json
{
  "name": "Nightly Reindex and Lead Maintenance",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "nightly-cron-1",
      "name": "Nightly Schedule (2 AM)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "list",
        "folderId": {
          "__rl": true,
          "value": "your_knowledge_base_folder_id",
          "mode": "list",
          "cachedResultName": "KnowledgeBase"
        },
        "options": {
          "includeItemsFromAllDrives": true
        }
      },
      "id": "list-kb-files-1",
      "name": "List Knowledge Base Files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-files-1",
      "name": "Split Files for Processing",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:8001/ingest",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "driveFileId",
              "value": "={{ $json.id }}"
            },
            {
              "name": "requestId",
              "value": "={{ 'nightly_reindex_' + $json.id + '_' + $now.toFormat('yyyyMMddHHmmss') }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "reindex-file-1",
      "name": "Reindex File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "rate-limit-1",
      "name": "Rate Limit Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "your_crm_sheet_id",
          "mode": "list",
          "cachedResultName": "CRM"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "options": {
          "includeEmptyCells": false
        }
      },
      "id": "read-crm-1",
      "name": "Read CRM Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        460,
        500
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "staleLeads",
              "value": "={{ $json.filter(lead => {\n  const lastUpdate = new Date(lead.Timestamp);\n  const daysSince = Math.floor((new Date() - lastUpdate) / (1000 * 60 * 60 * 24));\n  return daysSince > 7 && lead.Stage !== 'Won' && lead.Stage !== 'Lost';\n}).length }}"
            },
            {
              "name": "totalLeads",
              "value": "={{ $json.length }}"
            },
            {
              "name": "newLeads",
              "value": "={{ $json.filter(lead => lead.Stage === 'New').length }}"
            },
            {
              "name": "qualifiedLeads",
              "value": "={{ $json.filter(lead => lead.Stage === 'Qualified').length }}"
            }
          ]
        },
        "options": {}
      },
      "id": "calculate-metrics-1",
      "name": "Calculate Lead Metrics",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        680,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{ $vars.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $vars.ADMIN_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "🌙 **Nightly Report**\\n\\n📚 **Knowledge Base:**\\n• Reindexed {{ $('List Knowledge Base Files').all().length }} files\\n\\n📊 **Lead Metrics:**\\n• Total Leads: {{ $json.totalLeads }}\\n• New Leads: {{ $json.newLeads }}\\n• Qualified Leads: {{ $json.qualifiedLeads }}\\n• Stale Leads (7+ days): {{ $json.staleLeads }}\\n\\n⏰ *Report generated at {{ $now.toFormat('yyyy-MM-dd HH:mm') }}*"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "options": {}
      },
      "id": "send-report-1",
      "name": "Send Nightly Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        500
      ]
    },
    {
      "parameters": {
        "resource": "append",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "your_conversations_sheet_id",
          "mode": "list",
          "cachedResultName": "Conversations Log"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "User": "System",
            "Intent": "nightly_maintenance",
            "Input": "Scheduled maintenance run",
            "Output": "Reindexed {{ $('List Knowledge Base Files').all().length }} files, processed {{ $('Calculate Lead Metrics').item.json.totalLeads }} leads",
            "Confidence": "1.0",
            "Citations": "",
            "RequestId": "{{ 'nightly_' + $now.toFormat('yyyyMMddHHmmss') }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "log-maintenance-1",
      "name": "Log Maintenance Run",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1120,
        500
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Nightly Schedule (2 AM)": {
      "main": [
        [
          {
            "node": "List Knowledge Base Files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read CRM Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Knowledge Base Files": {
      "main": [
        [
          {
            "node": "Split Files for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Files for Processing": {
      "main": [
        [
          {
            "node": "Reindex File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reindex File": {
      "main": [
        [
          {
            "node": "Rate Limit Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CRM Data": {
      "main": [
        [
          {
            "node": "Calculate Lead Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Lead Metrics": {
      "main": [
        [
          {
            "node": "Send Nightly Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Nightly Report": {
      "main": [
        [
          {
            "node": "Log Maintenance Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "your_instance_id"
  },
  "id": "4",
  "tags": []
}